body {
  font-family: "Roboto";
  font-weight: 300; }

h1 {
  font-size: 70px;
  font-weight: 400;
  text-align: center; }

hr {
  width: 230px;
  height: 1px; }

/*-------------------------------NAVBAR----------------------------*/
.navbar-fixed-top {
  background: #27AD60;
  padding: 10px; }

/*---------------------------HEADER--------------------------------*/
#head {
  padding: 120px 0 0 0;
  text-align: center;
  color: white; }
  #head p {
    font-size: 30px;
    margin-top: 40px; }

.bg-head {
  background: url("../img/carousel-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0%;
  height: 550px; }

/*---------------------------------PALETA-COLORES--------------------------*/
#paleta-colores {
  text-align: center;
  font-weight: 500; }
  #paleta-colores hr {
    background: black; }

.paleta {
  width: 80%;
  margin: 0 auto; }
  .paleta .colores:first-child {
    margin-top: 70px; }
    .paleta .colores:first-child .color:first-child {
      width: 20%;
      float: left;
      height: 160px;
      background-color: #69D2E7;
      margin-bottom: 20px; }
    .paleta .colores:first-child .color:nth-child(2) {
      width: 20%;
      float: left;
      height: 160px;
      background-color: #A7DBDB;
      margin-bottom: 20px; }
    .paleta .colores:first-child .color:nth-child(3) {
      width: 20%;
      float: left;
      height: 160px;
      background-color: #E0E4CC;
      margin-bottom: 20px; }
    .paleta .colores:first-child .color:nth-child(4) {
      width: 20%;
      float: left;
      height: 160px;
      background-color: #F38630;
      margin-bottom: 20px; }
    .paleta .colores:first-child .color:nth-child(5) {
      width: 20%;
      float: left;
      height: 160px;
      background-color: #FA6900;
      margin-bottom: 20px; }
  .paleta .colores:nth-child(2) .color:first-child {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #E94C6F;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(2) .color:nth-child(2) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #542733;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(2) .color:nth-child(3) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #5A6A62;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(2) .color:nth-child(4) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #C6D5CD;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(2) .color:nth-child(5) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #FDF200;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(3) .color:first-child {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #DB3340;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(3) .color:nth-child(2) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #E8B71A;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(3) .color:nth-child(3) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #F7EAC8;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(3) .color:nth-child(4) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #1FDA9A;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(3) .color:nth-child(5) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #28ABE3;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(4) .color:first-child {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #588C73;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(4) .color:nth-child(2) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #F2E394;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(4) .color:nth-child(3) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #F2AE72;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(4) .color:nth-child(4) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #D96459;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(4) .color:nth-child(5) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #8C4646;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(5) .color:first-child {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #D0C91F;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(5) .color:nth-child(2) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #85C4B9;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(5) .color:nth-child(3) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #008BBA;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(5) .color:nth-child(4) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #DF514C;
    margin-bottom: 20px; }
  .paleta .colores:nth-child(5) .color:nth-child(5) {
    width: 20%;
    float: left;
    height: 160px;
    background-color: #DC403B;
    margin-bottom: 20px; }

/*----------------------------ABOUT-US-------------------------*/
#about-us {
  background: #2C3E50;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px; }
  #about-us .col-md-6 {
    margin-top: 50px; }
    #about-us .col-md-6 p:nth-child(2) {
      margin-bottom: 60px; }
  #about-us .img-center {
    text-align: center; }
  #about-us .progress {
    height: 10px;
    border: 2px white solid;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 15px; }
  #about-us .progress-bar-warning {
    background-color: #E67E22; }

/*------------------------------WHAT_WE_DO----------------------*/
#what-we-do {
  background: #27AD60;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
