body{
	font-family:"Roboto";
	font-weight:300;
}
h1{
	font-size: 70px;
    font-weight: 400;
    text-align:center;
}
hr{
	width: 230px;
    height: 1px;
}
/*-------------------------------NAVBAR----------------------------*/

.navbar-fixed-top{
	background:#27AD60;
	padding:10px;
}

/*---------------------------HEADER--------------------------------*/

#head{
	padding:120px 0 0 0;
	text-align:center;
	color:white;

	p{
	 font-size: 30px;
     margin-top: 40px;
	 }
}

.bg-head{
	background:url("../img/carousel-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 0%;
	height: 550px;
}

/*---------------------------------PALETA-COLORES--------------------------*/

#paleta-colores {
	text-align: center;
	font-weight:500;
	hr {
		background:black;
	}
}

@mixin boxcolor ($bgcolor) {
	width: 20%;
	float: left;
	height: 160px;
	background-color: $bgcolor;
	margin-bottom:20px;
}
@mixin boxcolores($color1, $color2, $color3, $color4, $color5) {
	.color:first-child {
		@include boxcolor($color1)
	}
	.color:nth-child(2){
		@include boxcolor($color2)
	}
	.color:nth-child(3){
		@include boxcolor($color3)
	}
	.color:nth-child(4){
		@include boxcolor($color4)
	}
	.color:nth-child(5){
		@include boxcolor($color5)
	
	}
}

.paleta {
	width: 80%;
	margin: 0 auto;
	.colores:first-child {
		margin-top: 70px;
		@include boxcolores(#69D2E7, #A7DBDB,#E0E4CC,#F38630, #FA6900);
	}
	.colores:nth-child(2) {
		@include boxcolores(#E94C6F, #542733, #5A6A62, #C6D5CD, #FDF200);
	}
	.colores:nth-child(3) {
		@include boxcolores(#DB3340,#E8B71A,#F7EAC8,#1FDA9A, #28ABE3);
	}
	.colores:nth-child(4) {
		@include boxcolores(#588C73,#F2E394, #F2AE72,#D96459,#8C4646);
	}
	.colores:nth-child(5) {
		@include boxcolores(#D0C91F,#85C4B9, #008BBA,#DF514C, #DC403B);
	}
}

/*----------------------------ABOUT-US-------------------------*/
#about-us{
	background:#2C3E50;
	color:white;
	padding-top:50px;
	padding-bottom:50px;
	.col-md-6{
		margin-top: 50px;
		p:nth-child(2){
			margin-bottom: 60px;
		}
	}
	.img-center{
		text-align: center;
	}
	.progress{
		height: 10px;
	    border: 2px white solid;
	    border-radius: 0;
	    margin-bottom: 0;
	    margin-top: 15px;
	}
	.progress-bar-warning{
		background-color: #E67E22;
	}
}

/*------------------------------WHAT_WE_DO----------------------*/

#what-we-do{
	background:#27AD60;
	color:white;
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
	.label-grey{
		margin-top: 50px;
	}
	.label-default{
		background:#443E44;
	    border-radius: 0;
    	padding: 1% 2%;
    	font-size: 20px;
    	font-weight: 300;

	}
}

/*-----------------------------AWESOME---------------------------*/

#awesome{
	background:#27AD60;
	color:white;
	text-align:center;
	padding-top:50px;
	padding-bottom:50px;
	
	.icono-redes{
		border: 0;
	    color: #fff;
	    border-radius: 20%;
	    display: inline-block;
	    width: 22px;
	    height: 20px;
	    line-height: 22px;
	    text-align: center;
	    background:#C1C1C1;
		color: #27AD60;
		margin-left: 14px;
	}
}

/*----------------------------GURANTEED----------------------------*/

#guranteed{
	background:#2C3E50;
	color:white;
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
}